:host {
  input {
    width: 100% !important;
    outline: none !important;
    padding-left: 3rem !important;
    padding-right: 3rem !important;

    transition: border-color 0.5s ease;

    &:focus {
      border-color: var(--color-primary) !important;
      border-width: 2px !important;
    }

    &[type='password']::-ms-reveal,
    &[type='password']::-ms-clear {
      display: none;
    }
  }

  &.ng-invalid.ng-touched input {
    border-color: var(--color-error) !important;
  }
}
