@if (isMobile()) {
<ng-container *ngTemplateOutlet="content"></ng-container>
} @else {
<app-modal (modalClose)="onModalClose()">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</app-modal>
}

<ng-template #content>
  <h1 class="text-2xl font-bold tracking-tight capitalize">
    {{ bankAccount ? 'atualizar conta bancária' : 'nova conta bancária' }}
  </h1>

  <p class="text-sm text-base-content/70 mt-1 pb-2 border-b border-base">
    {{ bankAccount ? 'Atualize as informações da conta bancária.' : 'Crie uma nova conta bancária.'
    }}
  </p>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid gap-4 mt-6">
    <app-custom-input
      label="Nome"
      icon="heroBuildingLibrary"
      placeholder="Ex.: Itaú, Santander, Nubank..."
      formControlName="name"
      [errorMessages]="formErrorMessages.name"
    />

    <app-custom-select
      label="Tipo"
      [icon]="BankAccountTypeInfo[selectedBankAccountType()].icon"
      formControlName="type"
      [options]="bankAccountTypeOptions"
      [errorMessages]="formErrorMessages.type"
    />

    <app-custom-input
      type="currency"
      label="Saldo inicial"
      icon="faSolidBrazilianRealSign"
      placeholder="0,00"
      formControlName="initialBalance"
      [errorMessages]="formErrorMessages.initialBalance"
    />

    <app-button [icon]="bankAccount ? 'heroArrowPath' : 'heroPlus'" class="justify-self-end">
      {{ bankAccount ? 'atualizar conta bancária' : 'criar conta bancária' }}
    </app-button>
  </form>
</ng-template>
