@if (isMobile()) {
<ng-container *ngTemplateOutlet="content"></ng-container>
} @else {
<app-modal (modalClose)="onClose()">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</app-modal>
}

<ng-template #content>
  <div class="flex items-center gap-4 mb-6 pb-3 border-b border-base">
    <app-icon-button icon="heroArrowLeft" (clicked)="onClose()" class="sm:hidden" />

    <div class="flex-1">
      <h1 class="text-xl font-bold capitalize leading-tight">
        {{ bankAccount ? 'atualizar conta bancária' : 'nova conta bancária' }}
      </h1>

      <p class="text-sm text-base-content/70">
        {{ bankAccount ? 'Atualize as informações da conta bancária.' : 'Crie uma nova conta bancária.' }}
      </p>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid gap-4">
    <app-custom-input
      label="Nome"
      icon="heroBuildingLibrary"
      placeholder="Ex.: Itaú, Santander, Nubank..."
      formControlName="name"
      [errorMessages]="formErrorMessages.name"
    />

    <app-custom-select
      label="Tipo"
      bottomSheetTitle="Selecione o tipo da sua conta"
      formControlName="type"
      [options]="bankAccountTypeOptions"
      [errorMessages]="formErrorMessages.type"
    />

    <app-custom-input
      type="currency"
      label="Saldo inicial"
      icon="faSolidBrazilianRealSign"
      placeholder="0,00"
      formControlName="initialBalance"
      [errorMessages]="formErrorMessages.initialBalance"
    />

    <app-button [icon]="bankAccount ? 'heroArrowPath' : 'heroPlus'" class="justify-self-end">
      {{ bankAccount ? 'atualizar conta bancária' : 'criar conta bancária' }}
    </app-button>
  </form>
</ng-template>
