<h1 class="font-semibold text-3xl mb-4 capitalize">categorias</h1>

<div
  class="flex flex-col justify-center gap-8 border-b border-base pb-4 pt-4 sticky top-20.25 z-10 bg-base-100"
>
  <div class="flex items-center justify-end md:justify-between gap-4">
    @if (!isMobile()) {
    <div class="flex items-center justify-center gap-1">
      <app-icon-button
        icon="heroListBullet"
        [selected]="viewMode() === 'list'"
        (clicked)="onViewModeChange('list')"
      />
      <app-icon-button
        icon="heroSquares2x2"
        [selected]="viewMode() === 'grid'"
        (clicked)="onViewModeChange('grid')"
      />
    </div>
    }

    <app-button icon="heroPlus" (clicked)="onCreateOrEditCategory()">nova categoria</app-button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 items-center gap-4">
    <input
      type="text"
      placeholder="Pesquisar..."
      class="input input-md outline-none border-primary w-full sm:max-w-100"
      [formControl]="searchControl"
    />

    <app-custom-radio-group
      [options]="categoryTypeOptions"
      [value]="filters().type"
      (valueChange)="onCategoryTypeChange($event)"
      class="sm:justify-self-end"
    />
  </div>
</div>
@if(response().items.length) { @if(viewMode() === 'grid') {
<app-category-grid
  [categories]="response().items"
  [isLoading]="isLoading()"
  [actions]="actions"
  (action)="handleCategoryAction($event)"
/>
} @else {
<app-category-list
  [categories]="response().items"
  [categoryTypeFilter]="filters().type"
  [isLoading]="isLoading()"
  [actions]="actions"
  (action)="handleCategoryAction($event)"
  [selectedCategoryIds]="selectedCategoryIds"
  (categorySelectionChange)="onCategorySelectionChange($event)"
  (allCategoriesSelectionChange)="onAllCategoriesSelectionChange($event)"
/>
} } @else if(isLoading()) {
<app-card-skeleton-list [count]="3" />
} @else {
<app-empty-list
  title="Nenhuma categoria encontrada"
  description="Tente ajustar os filtros ou o termo de pesquisa para encontrar o que procura."
/>
}

<app-paginator
  [limits]="CATEGORY_LIMIT_OPTIONS"
  [totalItems]="response().total"
  [offset]="response().offset"
  [limit]="response().limit"
  (offsetChange)="onOffsetChange($event)"
  (limitChange)="onLimitChange($event)"
/>

<router-outlet />
