<h1 class="font-semibold text-3xl my-8 capitalize">categorias</h1>

<div class="flex items-center justify-between">
  <div>Filtros</div>
  <app-button icon="heroPlus" (clicked)="onCreateCategory()">nova categoria</app-button>
</div>

<ul
  class="list-none mt-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pb-16"
>
  @for (category of categories(); track $index) {
  <li class="group relative surface flex items-center justify-start gap-4">
    <span class="icon-container shrink-0 group-hover:text-primary">
      <ng-icon
        [name]="category.icon"
        size="32"
        class="transition-transform! duration-500 group-hover:scale-[1.2]"
      />
    </span>

    <div class="flex flex-col min-w-0 pr-6">
      <span class="font-mono font-semibold text-xl text-primary truncate">{{category.name}}</span>
      <span class="text-sm">{{'5'}} lançamentos</span>
    </div>

    <app-item-actions class="absolute top-1 right-1" [actions]="categoryActions" />
  </li>
  }
</ul>

<app-paginator
  [limits]="limits"
  [totalItems]="pagination().total"
  [offset]="pagination().offset"
  [limit]="pagination().limit"
  (offsetChange)="onOffsetChange($event)"
  (limitChange)="onLimitChange($event)"
/>

<router-outlet />
