@if (isMobile()) {
<ng-container *ngTemplateOutlet="content"></ng-container>
} @else {
<app-modal (modalClose)="onClose()">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</app-modal>
}

<ng-template #content>
  <div class="flex items-center gap-4 mb-6 pb-3 border-b border-base">
    <app-icon-button icon="heroArrowLeft" (clicked)="onClose()" class="md:hidden" />

    <div class="flex-1">
      <h1 class="text-xl font-bold capitalize leading-tight">
        {{ category ? 'atualizar categoria' : 'nova categoria' }}
      </h1>

      <p class="text-sm text-base-content/70">
        {{ category ? 'Atualize as informações da categoria.' : 'Crie uma categoria para organizar suas movimentações.' }}
      </p>
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid gap-4 mt-6">
    <app-custom-radio-group
      [options]="categoryTypeOptions"
      [value]="form.controls.type.value"
      (valueChange)="onSelectCategoryType($event)"
      [disabled]="form.disabled"
    />

    <app-custom-input
      label="Nome"
      icon="heroHashtag"
      placeholder="Ex.: Alimentação, Salário, Transporte..."
      formControlName="name"
      [errorMessages]="formErrorMessages.name"
    />

    <div class="grid gap-2 border-b border-base pb-6">
      <span class="text-base font-semibold"> Selecione um ícone para representar a categoria </span>
      <ul class="list-none flex justify-center items-center flex-wrap gap-4">
        @for (icon of CATEGORY_ICON_NAMES; track $index) {
        <li>
          <app-emoji
            [name]="icon"
            class="icon-container icon-container-hover border border-base-300"
            [class.icon-container-active]="form.controls.icon.value === icon"
            (click)="onSelectIcon(icon)"
          />
        </li>
        }
      </ul>
      <div class="h-5">
        @if (form.controls.icon.hasError('required') && form.controls.icon.touched) {
        <span class="text-error text-sm animate-fade-in-up">
          {{formErrorMessages.icon?.required}}
        </span>
        }
      </div>
    </div>

    <app-button
      [icon]="category ? 'heroArrowPath' : 'heroPlus'"
      class="justify-self-end"
      [isLoading]="form.disabled"
    >
      {{ category ? 'atualizar categoria' : 'criar categoria' }}
    </app-button>
  </form>
</ng-template>
