<app-modal (modalClose)="onModalClose()">
  <h1 class="text-2xl font-bold tracking-tight">Nova Categoria</h1>

  <p class="text-sm text-base-content/70 mt-1 pb-2 border-b border-base">
    Crie categorias para organizar suas movimentações.
  </p>

  <div class="grid grid-cols-2 gap-4 font-mono text-sm font-semibold mt-8 mb-4">
    @for (categoryType of categories; track categoryType.type) {
    <button
      type="button"
      (click)="onSelectCategory(categoryType.type)"
      class="group flex items-center justify-center gap-2 uppercase outline-none border border-base rounded-xl p-3 cursor-pointer transition-all duration-500"
      [ngClass]="{
        'hover:border-success hover:text-success': categoryType.type === eCategoryType.Income && selectedCategory() !== eCategoryType.Income,
        'hover:border-error hover:text-error': categoryType.type === eCategoryType.Expense && selectedCategory() !== eCategoryType.Expense,

        'border-none bg-success text-success-content': selectedCategory() === categoryType.type && categoryType.type === eCategoryType.Income,
        'border-none bg-error text-error-content':selectedCategory() === categoryType.type && categoryType.type === eCategoryType.Expense
      }"
    >
      <ng-icon
        [name]="categoryType.icon"
        size="18"
        class="transition-transform duration-500 group-hover:scale-110"
      />

      <span class="tracking-widest"> {{ categoryType.label }} </span>
    </button>
    }
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="grid gap-4">
    <app-custom-input
      label="Nome"
      icon="heroHashtag"
      placeholder="Dê um nome à categoria"
      formControlName="name"
      [errorMessages]="formErrorMessages.name"
    />

    <div class="grid gap-2 border-b border-base pb-6">
      <span class="text-base font-semibold">Escolha o ícone</span>
      <ul class="list-none flex justify-center items-center flex-wrap gap-4">
        @for (icon of icons; track $index) {
        <li>
          <button
            type="button"
            (click)="onSelectIcon(icon)"
            class="icon-container icon-container-hover cursor-pointer"
            [class.icon-container--active]="selectedIcon() === icon"
          >
            <ng-icon [name]="icon" size="32" />
          </button>
        </li>
        }
      </ul>
      <div class="h-5">
        @if (form.controls.icon.hasError('required') && form.controls.icon.touched) {
        <span class="text-error text-sm animate-fade-in-up">
          {{formErrorMessages.icon.required}}
        </span>
        }
      </div>
    </div>

    <app-button icon="heroPlus" class="justify-self-end">adicionar</app-button>
  </form>
</app-modal>
