<nav class="hidden items-center gap-6 font-display md:flex">
  @for (item of features(); track $index) {

  <!-- GROUP -->
  @if ('features' in item) {
  <div class="dropdown dropdown-start" routerLinkActive #rla="routerLinkActive">
    <!-- TRIGGER -->
    <div
      tabindex="0"
      role="button"
      class="group relative flex cursor-pointer items-center gap-2 transition-colors duration-300 hover:text-primary"
      [class.text-primary]="rla.isActive"
    >
      <ng-icon [name]="item.icon" [size]="isLg() ? '18' : '26'" />

      <span class="hidden lg:inline font-semibold"> {{ item.label }} </span>

      <ng-icon name="heroChevronDown" size="18" />

      <!-- ACTIVE LINE -->
      <span
        class="absolute left-0 -bottom-1 h-px w-full bg-primary transition-transform duration-300 ease-[cubic-bezier(.65,0,.35,1)]"
        [ngClass]="{
          'origin-left scale-x-100': rla.isActive,
          'origin-right scale-x-0': !rla.isActive
        }"
      ></span>
    </div>

    <!-- DROPDOWN -->
    <div
      tabindex="-1"
      class="dropdown-content z-1 mt-4 w-72 rounded-xl border border-base bg-base-100 p-4 shadow-lg"
    >
      <!-- ARROW -->
      <span
        class="absolute -top-2 left-6 h-4 w-4 rotate-45 border-l border-t border-base bg-base-100"
      ></span>

      <!-- ITEMS -->
      <div class="flex flex-col gap-1">
        @for (feature of item.features; track $index) {
        <a
          [routerLink]="feature.path"
          routerLinkActive="bg-primary/10 text-primary"
          class="group flex items-center gap-4 rounded-xl p-2 transition-all duration-200 hover:bg-primary/10 hover:text-primary"
          (click)="closeDropdown()"
        >
          <span
            class="flex h-8 w-8 items-center justify-center rounded-full transition-all duration-200 group-hover:bg-primary/7"
          >
            <ng-icon [name]="feature.icon" size="20" />
          </span>

          <span class="font-semibold"> {{ feature.label }} </span>
        </a>
        }
      </div>
    </div>
  </div>
  }

  <!-- SINGLE -->
  @else {
  <a
    [routerLink]="item.path"
    routerLinkActive
    #rla="routerLinkActive"
    [routerLinkActiveOptions]="{ exact: true }"
    class="group relative flex cursor-pointer items-center gap-2 transition-colors duration-300 hover:text-primary"
    [class.text-primary]="rla.isActive"
  >
    <ng-icon [name]="item.icon" [size]="isLg() ? '18' : '26'" />

    <span class="hidden lg:inline font-semibold"> {{ item.label }} </span>

    <!-- ACTIVE LINE -->
    <span
      class="absolute left-0 -bottom-1 h-px w-full bg-primary transition-transform duration-300 ease-[cubic-bezier(.65,0,.35,1)]"
      [ngClass]="{
          'origin-left scale-x-100': rla.isActive,
          'origin-right scale-x-0': !rla.isActive
      }"
    ></span>
  </a>
  } }
</nav>
