<!-- Nome -->
<div class="floating-label relative">
  <span class="capitalize">{{label()}}</span>

  <ng-icon
    [name]="selectedOption()?.icon ?? 'heroListBullet'"
    size="20"
    class="absolute left-4 top-1/2 -translate-y-1/2 z-10 transition-colors duration-500 ease-in-out"
    [ngClass]="errorMessage ? 'text-error!' : 'text-primary!'"
  ></ng-icon>

  @if (value() !== null && !isRequired() && !isDisabled()) {
  <ng-icon
    name="heroXMark"
    size="26"
    (click)="onClear($event)"
    class="absolute right-8 top-1/2 -translate-y-1/2 z-10 transition-colors duration-500 text-neutral! hover:text-primary! cursor-pointer"
  />
  }

  <!---->
  @if (isMobile()) {
  <button
    type="button"
    class="mobile-select-trigger select select-lg w-full text-left cursor-pointer"
    (click)="onOpenBottomSheet()"
    [disabled]="isDisabled()"
  >
    {{ selectedOption()?.label ?? 'Selecione uma opção' }}
  </button>
  } @else {
  <select
    [ngModel]="value()"
    [disabled]="isDisabled()"
    (ngModelChange)="handleChange($event)"
    (blur)="handleTouched()"
    class="select select-lg cursor-pointer"
  >
    <option [ngValue]="null" disabled>Selecione uma opção</option>
    @for (option of options(); track option.value) {
    <option [ngValue]="option.value">{{ option.label }}</option>
    }
  </select>
  }
</div>
<span class="block h-5 text-error text-sm" [class.animate-fade-in-up]="errorMessage">
  @if (errorMessage) { {{ errorMessage }} }
</span>

<!-- Bottom Sheet -->
<dialog #bottomSheet class="modal modal-bottom">
  <div class="modal-box rounded-t-2xl p-0">
    <!-- Header -->
    <div class="flex flex-col items-center border-b border-base-300 px-5 pt-3 pb-4">
      <div class="mb-3 h-1.5 w-12 rounded-full bg-base-300"></div>

      <h2 class="text-base font-semibold">{{ bottomSheetTitle() }}</h2>
    </div>

    <!-- Lista -->
    <div class="max-h-80 overflow-y-auto p-4">
      @for (option of options(); track option.value) { @let isSelected = option.value === value();
      <button
        type="button"
        (click)="onSelectOptionBottomSheet(option)"
        class="flex w-full cursor-pointer items-center gap-3 rounded-xl p-4 text-left transition-colors hover:bg-base-200"
        [ngClass]="{
            'bg-primary/10 text-primary': isSelected
          }"
      >
        <ng-icon [name]="option.icon" size="20" />

        <span class="flex-1 font-medium"> {{ option.label }} </span>

        @if (isSelected) {
        <ng-icon name="heroCheck" size="18" class="text-primary" />
        }
      </button>
      }
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button aria-label="Fechar"></button>
  </form>
</dialog>
