<!-- Nome -->
<label class="floating-label relative">
  <span class="capitalize">{{label()}}</span>

  <ng-icon
    [name]="icon()"
    size="20"
    class="absolute left-4 top-1/2 -translate-y-1/2 z-10 transition-colors duration-500 ease-in-out"
    [ngClass]="errorMessage ? 'text-red-500!' : 'text-primary!'"
  ></ng-icon>

  @if (!isRequired() && value !== null) {
  <ng-icon
    name="heroXMark"
    size="26"
    (click)="onClear($event)"
    class="absolute right-8 top-1/2 -translate-y-1/2 z-10 transition-colors duration-500 text-neutral! hover:text-primary! cursor-pointer"
  />
  }

  <select
    [(ngModel)]="value"
    [disabled]="isDisabled()"
    (ngModelChange)="handleChange($event)"
    (blur)="handleTouched()"
    class="select select-lg"
  >
    <option [ngValue]="null" disabled>Selecione uma opção</option>
    @for (option of options(); track option.value) {
    <option [ngValue]="option.value">{{ option.label }}</option>
    }
  </select>
</label>
<span class="block h-5 text-error text-sm" [class.animate-fade-in-up]="errorMessage">
  @if (errorMessage) { {{ errorMessage }} }
</span>
